.nav-link, .nav-link:hover {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: none;
    color: #1F6608;
}

.bg-gray {
    background: #f5f6fa;
    min-height: 100vh;
}