.form-control{
    border: none ;
    border-radius: 0px !important;
    border-bottom: 1.5px solid #ced4da;
    font-size: 14px !important;
    margin-bottom: 5px !important;
}
.form-control:focus{
    border-radius: .375rem !important;
}
.cursor{
    cursor: pointer;
}
.cursor:hover{
    text-decoration: underline;
}
.form-check-label{
    font-size: 14px !important;
}
.or{
    position: relative;
}
.or::before{
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 145px;
    background-color: #777777;
    bottom: 10px;
    left: 10px;
}
.or::after{
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 145px;
    background-color: #777777;
    bottom: 10px;
    right: 10px;
}