.banner-main {
  background-color: black;
  align-items: center;
  background: url(../../images/Rectangle\ 13.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-overly {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 150px 0;
}
